<header id="header">
<div class="content">
<div id="logo"><a href="#slide1"> Rails<span style="color: red">Dev</span>Kev </a></div>

<nav id="nav">
	<ul>
		<li><a href="#slide2" title="Next Section">About me</a></li>
		<li><a href="#slide3" title="Next Section">Portfolio</a></li>
		<li><a  href="#slide4" title="Next Section">Contact</a></li>
	</ul>
</nav>
</div>
</div>

</header>