<div id="slide2">
	<div class="content" >
    <div class="quotes_container">
	<h3 class="quotes">“Coming Soon!”</h3>
	
		<div class="slide" id="what5">
		<h2 class="animate-build" data-build="1">Recommended Approach</h2>
		<p class="animate-build" data-build="2">Go All In On Responsive</p>
		<p class="animate-build" data-build="3">Make pages that look great at any size.</p>
	</div>


	<div class="slide where" id="where2">
		<div class="where-block animate-in" data-animation="fly-in-left">
			<div class="img-wrap">

	</div>
	</div>
	</div>
	</div> 
	</div> 
</div> 