<div id="slide4">
     <div id="primary">
      <h3 >General information</h3>
          <p>I am currently busy setting up my portfolio by creating different web applications. Your project is always negotianable. to contact me see right site of this page.</p>
        </div>
        
        <div id="secondary" >
            <h3 >Contact Details</h3>
            <ul class="contact-info">
              <li class="mail"><a href="mailto:kevin.egstorf@gmail.com">kevin.egstorf@gmail.com</a></li>
               <li class="github"><a href="https://github.com/kevinegstorf">github repo</a></li>
              <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=kevinegstorf">@kevinegstorf</a></li>             
            </ul>
        </div>

    </div>
       </div>